.body {
    max-width: 100%; /* Se ajusta al ancho */
    height: 300px; /* Máximo de expansión del body */
    position: relative;
    /* border: 5px solid rgb(0, 0, 0); */
    background-color:rgb(240, 240, 240);
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: table;
}

.mat-form-field {
    display:block;
    margin: 8px 8px 8px 8px;
    margin-bottom: 30px;
    min-width: auto;
    width: 300px;
    min-height: auto;
    height: 50px;
}

.mat-raised-button {
    color: rgb(240, 240, 240) !important;
    background-color: rgb(89, 149, 189) !important;
    /* Centrar botón */
    margin: 0 auto;
    display: block;
}

::ng-deep .mat-focused .mat-form-field-label {
    /* Color para el 'label' de los inputs */
    color: rgb(89, 149, 189) !important;
}

::ng-deep.mat-form-field-outline-thick {
    /* Colo para el borde de los inputs */
    color: rgb(89, 149, 189) !important;
}

