<app-back-button [url]="backUrl"></app-back-button>

<form [formGroup]="loginForm">
    
    <mat-form-field appearance="outline">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput formControlName="userName" #userName required> 
        <!-- Errores de entrada -->
            <mat-error *ngIf="userName.value.length==0">{{"Debe ingresar un nombre"}}</mat-error>
            <!-- Luego agregar el de nombre existente -->
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" #password required>
            <!-- Errores de entrada -->
            <mat-error *ngIf="password.value.length==0">{{"Debe ingresar la contraseña"}}</mat-error>
    </mat-form-field>

    <div class="buttonOk">
        <button mat-raised-button (click)="login()">Ingresar</button>
    </div>

</form>