<mat-tab-group mat-align-tabs="center" animationDuration="0ms" [selectedIndex]="selectTab">
    <mat-tab label="Administrador">
        <div class="container">
            <app-menu-administrator></app-menu-administrator>
        </div>
    </mat-tab>
    <mat-tab label="Dueño">
        <div class="container">
            <app-menu-owner></app-menu-owner>
        </div>
    </mat-tab>
    <mat-tab label="Empleado">
        <div class="container">
            <app-menu-employee></app-menu-employee>
        </div>
    </mat-tab>
</mat-tab-group>