<app-back-button [url]="backUrl"></app-back-button>

<div *ngIf="lines.length > 0; else elseBlock">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Código de medicamento </th>
            <td mat-cell *matCellDef="let element"> {{element.medicineCode}} </td>
        </ng-container>
        
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element"> {{element.medicineQuantity}} </td>
        </ng-container>
        
        <ng-container matColumnDef="accept">
            <th mat-header-cell *matHeaderCellDef class="acceptColumn"></th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="!checkStatus(element.status), else purchaseCheck">
                    <button mat-raised-button class="acceptButton" (click)="updatePurchaseLine(element, 0)">Aceptar</button>
                    <!-- <button mat-raised-button class="acceptButton">Aceptar</button> -->
                    <!-- {{element.code}} -->
                </div>
                <ng-template #purchaseCheck>
                    <button mat-raised-button class="NoModify">Aceptar</button>
                </ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="reject">
            <th mat-header-cell *matHeaderCellDef class="rejectColumn"></th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="!checkStatus(element.status), else purchaseCheck2">
                    <button mat-raised-button class="rejectButton" (click)="updatePurchaseLine(element, 1)">Denegar</button>
                    <!-- <button mat-raised-button class="rejectButton">Denegar</button> -->
                    <!-- {{element.code}} -->
                </div>
                <ng-template #purchaseCheck2>
                    <button mat-raised-button class="NoModify">Denegar</button>
                </ng-template>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <div class="rowInTable">
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
        </div>
    </table>

</div>

<ng-template #elseBlock>
    <span><mat-icon>error_outline</mat-icon></span>
    <br><br>
    <span><p class="NoPurchase"><B>NO HAY COMPRAS A CONFIRMAR</B></p></span>
</ng-template>
    


