<div>
    <div class="dropdown">
        <span>Empleado</span>
        <div class="dropdown-content">
            <p class="dropdown-content-item" [routerLink]="addMedicine">Alta de medicamento</p>
            <p class="dropdown-content-item" [routerLink]="medicineList">Lista de medicamentos</p>
            <p class="dropdown-content-item" [routerLink]="addDemand">Solicitar reposición de stock</p>
            <p class="dropdown-content-item" [routerLink]="purchaseList">Confirmar compra</p>
        </div>
    </div>
</div>