<app-back-button [url]="backUrl"></app-back-button>

<div *ngIf="invitations.length > 0; else elseBlock">
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="pharmacy">
            <th mat-header-cell *matHeaderCellDef> Farmacia </th>
            <td mat-cell *matCellDef="let element"> {{element.pharmacy}} </td>
        </ng-container>
        
        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef> Nombre de usuario</th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>
        
        <ng-container matColumnDef="userRole">
            <th mat-header-cell *matHeaderCellDef> Rol de usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.userRole}} </td>
        </ng-container>
        
        <ng-container matColumnDef="userCode">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.userCode}} </td>
        </ng-container>

        <ng-container matColumnDef="wasUsed">
            <th mat-header-cell *matHeaderCellDef> Utilizada </th>
            <td mat-cell *matCellDef="let element"> <div *ngIf="element.wasUsed"> Sí </div> <div *ngIf="!element.wasUsed"> No </div></td>
        </ng-container>
        
        <ng-container matColumnDef="modify">
            <th mat-header-cell *matHeaderCellDef class="modifyColumn"></th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button
                (click)="navigateToEditInvitation(element.idInvitation)"
                >Modificar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <div class="rowInTable">
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
        </div>
    </table>

</div>

<ng-template #elseBlock>
    <mat-icon>error_outline</mat-icon>
    <br><br>
    <span><p class="NoInvitation"><B>NO HAY INVITACIONES</B></p></span>
</ng-template>