<div class="header">
    <mat-toolbar id="toolBar">
        <span class="spacer"></span>
        <div class="login">
            <button mat-icon-button>
                <mat-icon id="loginIcon">account_circle</mat-icon>
            </button>
        </div>
        <div class="logout">
            <button mat-icon-button>
                <mat-icon id="logoutIcon">logout</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</div>

<div class="body">
    <app-loader></app-loader> <!-- Para que me muestre un spinner mientras carga -->
    <router-outlet></router-outlet>
</div>

<div class="footer">

</div>